.login{
    background-image: url(../../assets/img/Travel-to-Rome-Colosseum-ruins-dusk-clouds-lights-Italy_1920x1080.jpg);
    height: 900px;
    display: flex;
    align-items: center;
}

.login-form{
    display: flex;
    justify-content: center;
}

.card-body{
    background-color: white;
}