<div class="login">
    <div class="container">
        <div class="login-form">
            <form class="col-md-4 card-body">
                <app-form-input [label]="'Login'" [control]="loginForm.controls.nome"></app-form-input>
                <app-form-input [label]="'Senha'" [control]="loginForm.controls.senha"></app-form-input>
                <button (click)="logar()" class="btn btn-primary">Entrar</button>
                <a class="btn btn-primary">Cadastrar</a>
            </form>
        </div>
    </div>
</div>