<div class="row">
  <div class="card col-md-3">
    <img class="card-img-top" src="../assets/img/topo-maldivas-dubai.jpg" alt="Card image cap">
    <div class="card-body">
      <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
      <span class="badge badge-success pull-right">R$ 2000</span>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card col-md-3" [routerLink]="['/home']">
    <img class="card-img-top" src="../assets/img/topo-maldivas-dubai.jpg" alt="Card image cap">
    <div class="card-body">
      <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
      <span class="badge badge-success pull-right">R$ 2000</span>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card col-md-3">
    <img class="card-img-top" src="../assets/img/topo-maldivas-dubai.jpg" alt="Card image cap">
    <div class="card-body">
      <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
      <span class="badge badge-success pull-right">R$ 2000</span>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card col-md-3">
    <img class="card-img-top" src="../assets/img/topo-maldivas-dubai.jpg" alt="Card image cap">
    <div class="card-body">
      <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
      <span class="badge badge-success pull-right">R$ 2000</span>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
</div>