<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="../assets/img/topo-maldivas-dubai.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <app-star-rating [rating]='8' [itemId]='5' [isDisable]="true"></app-star-rating>
          <span class="badge badge-success pull-right">R$ 2000</span>
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="../assets/img/topo-maldivas-dubai.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <app-star-rating [rating]='8' [itemId]='5' [isDisable]="true"></app-star-rating>
          <span class="badge badge-success pull-right">R$ 2000</span>
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="../assets/img/topo-maldivas-dubai.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <app-star-rating [rating]='8' [itemId]='5' [isDisable]="true"></app-star-rating>
          <span class="badge badge-success pull-right">R$ 2000</span>
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="../assets/img/topo-maldivas-dubai.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <app-star-rating [rating]='8' [itemId]='5' [isDisable]="true"></app-star-rating>
          <span class="badge badge-success pull-right">R$ 2000</span>
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
</div>