<div class="row">
  <div class="col-md-3" *ngFor="let item of items">
    <div class="card" [routerLink]="['/quarto', item.quartoId]">
      <h5 class="card-img-overlay">{{item.hotel.nome}}</h5>
      <img class="card-img-top" src="../assets/img/IMG_2431.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <app-star-rating [rating]='8' [itemId]='5' [isDisable]="true"></app-star-rating>
          <span class="badge badge-success pull-right">{{item.valor | currency: "BRL" }}</span>
        </div>
        <p class="card-text">{{item.hotel.cidade}} - {{item.hotel.estado}}</p>
        <p class="card-text">{{item.tipoQuarto}}</p>
      </div>
    </div>
  </div>
</div>